<launch>
  <!-- Args Camera -->
  <arg name="filters"                           default="pointcloud"/>
  <arg name="color_fps"                         default="30"/>
  <arg name="color_width"                       default="640"/>
  <arg name="color_height"                      default="480"/>
  <arg name="depth_fps"                         default="30"/>
  <arg name="depth_width"                       default="640"/>
  <arg name="depth_height"                      default="480"/>

  <!-- Args April Tag -->
  <arg name="node_namespace" default="apriltag_ros_continuous_node" />
  <arg name="launch_prefix" default="" /> <!-- set to value="gdbserver localhost:10000" for remote debugging -->
  <arg name="camera_name" default="/camera_rect" />
  <arg name="camera_frame" default="camera" />
  <arg name="image_topic" default="image_rect" />

  <arg name="tag_family"                        default="tagStandard41h12"/>
  <arg name="standalone_tags"                   default="$(find interbotix_perception_modules)/config/tags.yaml"/>
  <arg name="apriltag_ns"                       default="apriltag"/>
  <arg name="camera_color_topic"                default="camera/color/image_raw"/>
  <arg name="camera_info_topic"                 default="camera/color/camera_info"/>
  <rosparam command="load" file="$(find apriltag_ros)/config/settings.yaml" ns="$(arg node_namespace)" />
  <rosparam command="load" file="$(find apriltag_ros)/config/tags.yaml" ns="$(arg node_namespace)" />
 

  <!-- Launch Camera -->
  <include file="$(find realsense2_camera)/launch/rs_camera.launch">
    <arg name="filters"                           value="$(arg filters)"/>
    <arg name="color_fps"                         value="$(arg color_fps)"/>
    <arg name="color_width"                       value="$(arg color_width)"/>
    <arg name="color_height"                      value="$(arg color_height)"/>
    <arg name="depth_fps"                         value="$(arg depth_fps)"/>
    <arg name="depth_width"                       value="$(arg depth_width)"/>
    <arg name="depth_height"                      value="$(arg depth_height)"/>
  </include>


  <!-- Launch apriltag_ros_continuous_node -->
  <node pkg="apriltag_ros" type="apriltag_ros_continuous_node" name="$(arg node_namespace)" clear_params="true" output="screen" launch-prefix="$(arg launch_prefix)" >
    <remap from="image_rect" to="/camera/color/image_raw" />
    <remap from="camera_info" to="/camera/color/camera_info" />

    <param name="camera_frame" type="str" value="$(arg camera_frame)" />
    <param name="publish_tag_detections_image" type="bool" value="true" />      <!-- default: false -->
    <param name="tag_family"                      value="$(arg tag_family)"/>
  </node>


  <!-- Launch pieceDetector-->
  <!-- <node pkg="piece_detector" name="pieceDetector" type="piece_detector.py"/> -->
  

  <!-- Launch chessPieceDetector --> 
  <!-- <node pkg="piece_detector" name="chessPieceDetector" type="chess_piece_detector.py"/> -->

</launch>
